//- Made by Arhaan Bahadur -> Instagram: @arhaan_bahadur
doctype html
html
	head
		meta(charset='utf-8')
		title MINET X 2020
		meta(charset='utf-8')
		meta(name='author' content='Team MINET')
		meta(name='name' content="MINET X 2020")
		meta(name='description' content="Official Quiz App - X 2020")
		meta(name='keywords' content="MINET X 2020 MIS Mother's International School")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src="https://kit.fontawesome.com/53f1b26a84.js" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet")
		link(rel="stylesheet" type='text/css' href="/css/skeleton.css")
		link(rel='stylesheet' type='text/css' href='/css/style.css')
		script(src="https://kit.fontawesome.com/53f1b26a84.js" crossorigin="anonymous")
		link(rel='icon' type='image/png' href='/img/favicon.png')
		link(rel='apple-touch-icon-precomposed' href='/img/favicon.png')
		meta(name='theme-color' content='#2979FF')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")

	body
		include ./components/navbar

		block content

		include ./components/footer

		script(src='/js/main.js')
		//- script(src='/js/masonry.js')